@import "compass/css3";



.wrapper {
  display: flex;
  flex-flow: row wrap;
}

h1{
width:60%;
  font-family: ThreeDLightShadow;
  color:#000088;
  font-size: 27px;
  text-align: left;
	position: relative;
	 left:350px;
	 top:68px;
}


.sommaire{
    width:22%;
	height: 60%;
	min-width:240px;
	position: sticky;
	 top:15%;
	border-style: double;
     border-width: 4px;
	border-color: white;
	 border-radius:15px;
	font-size: 16px;
     background:rgb(190,190,255);
	 line-height:27px;

	}

.sommairetitre{
	font-family: ThreeDLightShadow;
	 font-size: 30px;
	 color:#7700FF;
	 text-align: center;
}


.decale{
	 position: relative;
	 left:3em;
	 top:4em;
	 width:40%;
	 /* overflow: scroll;*/
	 }
h2{
  font-family: ThreeDLightShadow;
  color:#520052;
  font-size: 24px;
  text-align: left;
  position: relative;
	 left:25px;
	 top:10px;
border-bottom:1px solid black;
}


/**-------background: #99AAFF;-----------------------------------------*/







.navigation {
  list-style: none;
  margin: 0;
  background:rgb(0,0,111);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  border-bottom: 4px solid rgb(130,220,255);

  }


.navigation a {
  text-decoration: none;
  display: block;
  color: white;
  font-size:22px;
  text-align: center;
  padding: 15px;

}


/* cette propriété sert pour gérer automatiquement l'espace entre les éléments du header*/
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

}


/*
#eg5{
	  padding: 5px;
	text-align: center;
}

#eg2{
	  padding: 5px;
	text-align: center;
}

#eg3{
	  padding: 5px;
	text-align: center;
}
#eg4{
	  padding: 5px;
	text-align: center;
}
#eg7{
	  padding: 5px;
	text-align: center;
}
*/

.exampless{
	line-height:25px;
	position:relative;
	left : 50px;
	}



.itm{
	margin:8px;
	}


.itmc{
	margin:5px;
	position:relative;
	left : 250px;
	}

	/*-------------------------------------------------*/
	table{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
	}
td{
    border: 1px solid black;
	margin:5px;
	padding:10px;
	text-align:center;
	}
	th{
    border: 1px solid black;
	margin:5px;
	padding:10px;
	text-align:center;
	color: #0077ff;
	}
	caption {
    caption-side: bottom;
	padding:13px;
}
	 .tabPosition{
	position:relative;
	left : 50px;
	 }
/*---------------------------------*/

.aside{
	margin:45px;
	padding-top:19px;
	padding-bottom:19px;
	padding-left:0;
	padding-right:0;
border-style:outset;

}

.fin{
	position :relative;
	left:330px;
	top:-420px;
	width:60%;
	height:10%;
}


input:valid{
	background-color:#99ff99;
}
input:invalid{
	background-color:#ff9999;
}




.delimite{
	margin:1em;
}



.delimite2{
	position:relative;
	height:40px;

}


.couperLargeur{
	width:60%;
}
.couperLargeur1{
	width:50%;
}

/* */
.bluebas{
	position:fixed;
    top:0%;
	left:0;
	right:0;
}

.navig {
  list-style: none;
  margin: 0;
  background:rgb(0,0,111);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  border-bottom: 4px solid rgb(130,220,255);

  }


.navig a {
  text-decoration: none;
  display: block;
  color: white;
  font-size:22px;
  text-align: center;
  padding: 15px;

  }

}


/* cette propriété sert pour gérer automatiquement l'espace entre les éléments du header*/
@media all and (max-width: 800px) {
  .navig {
    justify-content: space-around;

}

}




.divex{
	position:relative;
	left:50px;
	line-height:2px;
}



.ls{
	position:relative;
	line-height:2px;
	left:50px;
}


.marge{
	line-height:20px;
}



#body2{
	min-width:80%;
}


#body1{
	min-width:80%;
}

.par1{
	position:relative;
	left:50px;
}

.ligneHaut{
line-height:4px;
}


 
 .references {
	 position:relative;
	 top:150px;
	 left:250px;
	 width:60%;
 }
 
 
 
 
 /**//**//**//**//**/
 
 .box {
	position: relative;
	left: 200px;
	top: 20px;
  border-style: solid;
  border-width: 1px;
  display: block;
  width: 100px;
  height: 100px;
    border-style:dotted;
  border-color:#33ff00;
  border-width:5px;
  border-radius:52px;
  background-color: #0000FF;
  -webkit-transition: width 5s, height 5s, background-color 5s, -webkit-transform 5s, 
  border-radius 5s, border-style 5s, border-color 5sc, border-width 5s, top 5s;
  transition: width 5s, height 5s, background-color 5s, transform 5s,
  border-radius 5s,  border-style 5s, border-color 5s, border-width 5s, top 5s;
}
.wave{
  background:
    linear-gradient(to right, sandybrown, chocolate);
  height: 50px;
  position: relative;
}
.box:hover {
  background-color: #FFCCCC;
  top: 200px;
  width: 200px;
  height: 200px;
  border-radius:1px;
  border-style:ridge;
  border-color:#3322ff;
  border-width:7px;
  -webkit-transform: rotate(320deg);
  transform: rotate(320deg);
}
 
 
 
 