@import "compass/css3";



.wrapper {
  display: flex;
  flex-flow: row wrap;
}

h1{ 
width:60%;
  font-family: ThreeDLightShadow;        
  color:#000088;              
  font-size: 28px;             
  text-align: left; 
	position: relative; 
	 left:350px;
	 top:10px;  
}


.sommaire{
    width:25%;
	min-width: 240px;
     position: relative; 
	 left:5px;
	 top:-70px;
	/* border-style: double;
     border-width: 4px;
	border-color: black; */            
	font-size: 16px; 
     background:rgba(190,190,255,0.5);
	 line-height:27px;
	  
}



.sommairetitre{
	font-family: ThreeDLightShadow;
	 font-size: 30px; 
	 color:#7700FF;
	 text-align: center; 
}


.decale{
	position: relative; 
	 left:40px;
	 top:30px;
	 }
h2{ 
  font-family: ThreeDLightShadow;        
  color:#520052;              
  font-size: 24px;             
  text-align: left; 
 position: relative; 
	 left:25px;
	 top:10px; 
border-bottom:1px solid black;	 
}


/**-------background: #99AAFF;-----------------------------------------*/



.section{
	position: relative; 
	 left:40px;
	 top:-35px;
	 width:60%;
}



.navigation {
  list-style: none;
  margin: 0; 
  background:rgba(0,0,111,1);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  border-bottom: 4px solid rgb(130,220,255);
  }


.navigation a {
  text-decoration: none;
  display: block;
  color: white;
  font-size:22px;
  text-align: center; 
  padding: 15px;

}


/* cette propriété sert pour gérer automatiquement l'espace entre les éléments du header*/
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
 
}



#eg5{
	  padding: 5px;
	text-align: center;
}

#eg2{
	  padding: 5px;
	text-align: center;
}

#eg3{
	  padding: 5px;
	text-align: center;
}
#eg4{
	  padding: 5px;
	text-align: center;
}
#eg7{
	  padding: 5px;
	text-align: center;
}


.exampless{
	line-height:25px;
	position:relative;
	left : 250px;
	}



.itm{
	margin:8px;
	}

	
.itmc{
	margin:5px;
	position:relative;
	left : 250px;
	}
	
	/*-------------------------------------------------*/
	table{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
	}
td{
    border: 1px solid black;
	margin:5px;
	padding:10px;
	text-align:center;
	}
	th{
    border: 1px solid black;
	margin:5px;
	padding:10px;
	text-align:center;
	color: #0077ff;
	}
	caption {
    caption-side: bottom;
	padding:13px;
}
	 .tabPosition{
	position:relative;
	left : 50px;
	 }
/*---------------------------------*/
	
.aside{
	margin:45px;
	padding:19;
border-style:outset;	
}



input:valid{
	background-color:#99ff99;
}
input:invalid{
	background-color:#ff9999;
}




.delimite{
	margin:1em;
}



.delimite2{
	position:relative;
	height:40px;
	 
}


.couperLargeur{
	width:60%;
}





	